.border {
    display: flex;
    border:  1px solid rgba(3, 189, 149, 0.794);
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
}

.flexRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .countriesFormat{
    display: inline-block;
      width: 250PX;
      margin: 0 4%;
  }

  img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 5px;      
  }

  .title{
      font-size: 1.5em;
      font-weight: 620;
      text-align: center;
  }

